
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
allure-report/
allure-results/

.DS_Store
package-lock.json

        tests-examples/
        tests/
        utils/
        utils1/

